<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBqOlSBbnABFVqBU-IcfCPxwT6hxwVO80Y</string>
	<key>GCM_SENDER_ID</key>
	<string>516207321515</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.dyplom</string>
	<key>PROJECT_ID</key>
	<string>ranking-6f772</string>
	<key>STORAGE_BUCKET</key>
	<string>ranking-6f772.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:516207321515:ios:d3a9994ca9f414251cf2ee</string>
</dict>
</plist>